
.link {
    font-weight: bolder;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    font-family: cursive;
    font-weight: bolder;
}

.card-text {
    font-weight: lighter;
    font-size: 18px;
    color: gray;
}

.fontAwesome {
    margin-left: auto;
    padding: 3px;
    border-radius: 50%;
}